{% extends "base.html" %}
{% block content %}
                <div class="block-left">
                    <form action="{% url 'inserttimesheet' %}" method="post">
                        {% csrf_token %}
                        <div class="table-responsive">
                        <table class="table table-responsive{-sm|-md|-lg|-xl|-xxl}"  id = "mytable">
                            <thead>
                                <tr>
                                   <th class="col-1 col-form-label">
                                        <label for="validationTooltip02" class="form-label">DATE</label></th>
                                    <th class="col-1 col-form-label">
                                        <label class="form-label">CLIENT NO.</label></th>
                                    <th class="col-1 col-form-label">
                                        <label class="form-label">CLIENT NAME</label></th>
                                    <th class="col-1 col-form-label">
                                        <label class="form-label">TASK</label></th>
                                    <th class="col-1 col-form-label">
                                        <label for="validationTooltip01" class="form-label">HOURS</label></th>
                                <!--<th class="col-1 col-form-label">TOTAL HOURS/DAY</th>-->
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <tr>
                                    <td><input name="DATE" type='date' class="form-control"  id="validationTooltip02"required /></td>
                                    <td><select class="custom-select form-control form-select" name ="Client_Id">
                                        {% for n in client_details %}
                                        <option value ="{{ n.Client_Id }}" name ="Client_Id">{{ n.Client_Id}} </option>
                                        {% endfor %} </select></td>
                                    <td><select class="custom-select form-control form-select"  name ="Client_Name">
                                        {% for n in client_details %}
                                        <option value ="{{ n.Client_Name }}" name ="Client_Name">{{ n.Client_Name }} </option>
                                        {% endfor %}</select></td>
                                    <td><select class="custom-select form-control form-select"  name ="Task_Name">
                                        {% for n in client_details %}
                                        <option value ="{{ n.Task_Name }}" name ="Task_Name">{{ n.Task_Name }} </option>
                                        {% endfor %}</select></td>
                                    <td><input name="HOURS" class="form-control"  type="text" id="validationTooltip01"required></td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                        <div class="form-group clearfix">&nbsp;
                             <div class="col-md-12 col-md-6">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                             </div>
                        </div>
                        <div class="form-group clearfix">&nbsp;
                             <div class="col-md-12 col-md-6">
                                 <div  class="table-responsive">
                        <table class="table table-responsive{-sm|-md|-lg|-xl|-xxl} table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="col-1 col-form-label">
                                        <label class="form-label">DATE</label></th>
                                    <th class="col-1 col-form-label">
                                        <label class="form-label">CLIENT NO.</label></th>
                                    <th class="col-1 col-form-label">
                                        <label class="form-label">CLIENT NAME</label></th>
                                    <th class="col-1 col-form-label">
                                        <label class="form-label">TASK</label></th>
                                    <th class="col-1 col-form-label">
                                        <label class="form-label">HOURS</label></th>
                                    <th class="col-1 col-form-label">
                                        <label class="form-label"></label></th>
                                    <th class="col-1 col-form-label">
                                        <label class="form-label"></label></th>
<!--                                    <th class="col-1 col-form-label">TOTAL HOURS/DAY</th>-->
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                            {% for n in Empattendancdetails %}
                                <tr>
                                    <td>{{ n.DATE }}</td>
                                    <td>{{ n.Client_Id }}</td>
                                    <td>{{ n.Client_Name }}</td>
                                    <td>{{ n.Task_Name }}</td>
                                    <td>{{ n.HOURS }}</td>
                                    <td><a  href="/update/{{n.id}}"><H6>Edit</H6> </a></td>
                                    <td><a  href="/delete/{{n.id}}"><H6>Delete</H6> </a></td>
                                </tr>{% endfor %}
                            </tbody>
                        </table>
                        </div>
                             </div>
                        </div>
                    </form>
                </div>

{% endblock %}